<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788296899459-gntbe5j69s4nrhmhmqt0logbmulihu42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788296899459-gntbe5j69s4nrhmhmqt0logbmulihu42</string>
	<key>API_KEY</key>
	<string>AIzaSyBC133TqXA5lDhXnw2GmGE-hiON9unUI4g</string>
	<key>GCM_SENDER_ID</key>
	<string>788296899459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mm.Diplom</string>
	<key>PROJECT_ID</key>
	<string>diplomwork-34203</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomwork-34203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788296899459:ios:a409d079f99dcb98e4b4b6</string>
</dict>
</plist>